.section-owner
	background: linear-gradient(90deg, #EED171 0%, #FFF8E4 32.83%, #B88732 100%)

	&::before
		content: ''
		position: absolute
		z-index: 0
		inset: 0
		pointer-events: none
		background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 100%)
