.section-home-info
    .top-bg-1
        @apply h-1/2 w-full -top-2 absolute
        background: linear-gradient(180deg, #016048 5.09%, #04634B 10.31%, #0F6B54 15.69%, #1E715B 21.06%, #3F8674 31.81%, rgba(96, 164, 147, 0.80) 46.01%, rgba(255, 251, 227, 0.00) 100%)
        filter: blur(calc(4.75/1920*100rem))
    .bot-bg-1
        @apply absolute inset-0
        background: linear-gradient(180deg, rgba(1, 44, 33, 0.00) 33.02%, rgba(1, 44, 33, 0.10) 40.23%, rgba(1, 44, 33, 0.76) 57.27%, #012C21 66.3%)
    .info-wrapper
        @apply border-t border-Utility/white/15 py-1 md:pt-4 md:pb-3 w-full text-Utility/white
        .info
            @apply container flex flex-col md:flex-row justify-between
            .info-name
                @apply flex items-center gap-3
                .info-num
                    @apply text-Utility/white/50 body-2
                .name
                    @apply heading-4
            .info-desc
                @apply body-0 text-left md:text-right shrink-0
            .main
                @apply heading-2 tracking-[calc(-0.72/1920*100rem)] bg-clip-text
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                background: linear-gradient(90deg, #EED171 0%, #FFF8E4 32.83%, #B88732 100%)