.section-home-banner
    .swiper-home-banner
        @apply h-[calc(960/1920*100rem)] relative
    .banner-title-wrapper
        @apply flex flex-col items-center gap-3 self-stretch
        .banner-title
            @apply text-center font-primary  text-Utility/white font-semibold leading-[120%] tracking-[calc(-1.2/1920*100rem)] uppercase
            background: var(--Linear, linear-gradient(90deg, #EED171 0%, #FFF8E4 32.83%, #B88732 100%))
            background-clip: text
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent