.header-hamburger
	@apply w-16 h-16 rounded-full bg-Primary/2 flex flex-col items-center justify-center gap-1 relative cursor-pointer
	span
		@apply w-5 h-0.5 bg-Primary/1
		transition: transform .3s ease, opacity .2s ease
	&.active
		span:nth-child(1)
			transform: translateY(calc(5/1920*100rem)) rotate(45deg)
		span:nth-child(2)
			opacity: 0
			transform: scaleX(0)
		span:nth-child(3)
			transform: translateY(calc(-5/1920*100rem)) rotate(-45deg)
