@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Thin.otf') format('opentype')
	font-style: normal
	font-weight: 100
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Xlight.otf') format('opentype')
	font-style: normal
	font-weight: 200
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Light.otf') format('opentype')
	font-style: normal
	font-weight: 300
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Regular.otf') format('opentype')
	font-style: normal
	font-weight: 400
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Medium.otf') format('opentype')
	font-style: normal
	font-weight: 500
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy SemiBold.otf') format('opentype')
	font-style: normal
	font-weight: 600
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Bold.otf') format('opentype')
	font-style: normal
	font-weight: 700
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy XBold.otf') format('opentype')
	font-style: normal
	font-weight: 800
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Heavy.otf') format('opentype')
	font-style: normal
	font-weight: 950
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Black.otf') format('opentype')
	font-style: normal
	font-weight: 900
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Thin Italic.otf') format('opentype')
	font-style: italic
	font-weight: 100
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Xlight Italic.otf') format('opentype')
	font-style: italic
	font-weight: 200
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Light Italic.otf') format('opentype')
	font-style: italic
	font-weight: 300
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Italic.otf') format('opentype')
	font-style: italic
	font-weight: 400
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Medium Italic.otf') format('opentype')
	font-style: italic
	font-weight: 500
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy SemiBold Italic.otf') format('opentype')
	font-style: italic
	font-weight: 600
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Bold Italic.otf') format('opentype')
	font-style: italic
	font-weight: 700
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy XBold Italic.otf') format('opentype')
	font-style: italic
	font-weight: 800
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Heavy Italic.otf') format('opentype')
	font-style: italic
	font-weight: 950
	font-display: swap

@font-face
	font-family: 'SVN-Gilroy'
	src: url('../fonts/SVN-Gilroy Black Italic.otf') format('opentype')
	font-style: italic
	font-weight: 900
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-Regular.otf') format('opentype')
	font-style: normal
	font-weight: 400
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-Medium.otf') format('opentype')
	font-style: normal
	font-weight: 500
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-Semibold.otf') format('opentype')
	font-style: normal
	font-weight: 600
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-Bold.otf') format('opentype')
	font-style: normal
	font-weight: 700
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-BoldCn.otf') format('opentype')
	font-style: normal
	font-weight: 700
	font-stretch: condensed
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-It.otf') format('opentype')
	font-style: italic
	font-weight: 400
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-MediumIt.otf') format('opentype')
	font-style: italic
	font-weight: 500
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-SemiboldIt.otf') format('opentype')
	font-style: italic
	font-weight: 600
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-BoldIt.otf') format('opentype')
	font-style: italic
	font-weight: 700
	font-display: swap

@font-face
	font-family: 'Minion Pro'
	src: url('../fonts/MinionPro-BoldCnIt.otf') format('opentype')
	font-style: italic
	font-weight: 700
	font-stretch: condensed
	font-display: swap
